@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    /* primary colors */
    --primary-blue-950: hsl(213, 96%, 18%);
    --primary-purple-600: hsl(243, 100%, 62%);
    --primary-blue-300: hsl(228, 100%, 84%);
    --primary-blue-200: hsl(206, 94%, 87%);
    --primary-red-500: hsl(354, 84%, 57%);
    /* neutral colors */
    --neutral-grey-500: hsl(231, 11%, 63%);
    --neutral-purple-200: hsl(229, 24%, 87%);
    --neutral-blue-100: hsl(218, 100%, 97%);
    --neutral-blue-50: hsl(231, 100%, 99%);
    --neutral-white: hsl(0, 100%, 100%);
}

body {
    font-family: Ubuntu;
}