@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    /* primary colors */
    --primary-blue-950: hsl(213, 96%, 18%);
    --primary-purple-600: hsl(243, 100%, 62%);
    --primary-blue-300: hsl(228, 100%, 84%);
    --primary-blue-200: hsl(206, 94%, 87%);
    --primary-red-500: hsl(354, 84%, 57%);
    /* neutral colors */
    --neutral-grey-500: hsl(231, 11%, 63%);
    --neutral-purple-200: hsl(229, 24%, 87%);
    --neutral-blue-100: hsl(218, 100%, 97%);
    --neutral-blue-50: hsl(231, 100%, 99%);
    --neutral-white: hsl(0, 100%, 100%);
}

body {
    background-color: var(--neutral-blue-100);
    font-family: Ubuntu;
    display: grid;
    place-content: center;
    min-height: 100vh;
}

.container {
    background-color: var(--neutral-white);
    padding: 1em;
    display: flex;
    max-width: 1024px;
    width: 100%;
    border-radius: 10px;
}

.sidebar {
    background-image: url('/images/bg-sidebar-desktop.svg');
    background-size: cover;
    background-position: bottom;
    padding: 2em;
    padding-right: 10em;
    height: 35rem;
    border-radius: 10px;
    color: var(--neutral-white);
    flex-shrink: 0;
}

.sidebar p {
    font-weight: lighter;
}

.step {
    display: flex;
    gap: 1em;
    align-items: center;
    margin-bottom: 1.5em;
}

.step span.active {
    background-color: var(--neutral-white);
    color: black;
}

.step span {
    border: 1px solid var(--neutral-white);
    text-align: center;
    width: 2em;
    height: 2em;
    padding: .4em;
    border-radius: 100%;
}

.step p {
    text-transform: uppercase;
    font-weight: lighter;
    font-size: smaller;
}

.step h4 {
    text-transform: uppercase;
}

.main-content {
    flex-shrink: 0;
    padding-inline: 5em;
}

input {
    display: block;
    width: 100%;
}