@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    /* primary colors */
    --primary-blue-950: hsl(213, 96%, 18%);
    --primary-purple-600: hsl(243, 100%, 62%);
    --primary-blue-300: hsl(228, 100%, 84%);
    --primary-blue-200: hsl(206, 94%, 87%);
    --primary-red-500: hsl(354, 84%, 57%);
    /* neutral colors */
    --neutral-grey-500: hsl(231, 11%, 63%);
    --neutral-purple-200: hsl(229, 24%, 87%);
    --neutral-blue-100: hsl(218, 100%, 97%);
    --neutral-blue-50: hsl(231, 100%, 99%);
    --neutral-white: hsl(0, 100%, 100%);
}

body {
    background-color: var(--neutral-blue-100);
    font-family: Ubuntu;
    display: grid;
    min-height: 100vh;
    align-items: center;
}

.input-field {
    width: 100%;
    display: block;
    margin-bottom: 1em;
    padding: .8em;
    border-radius: 10px;
    outline: none;
    border: 1px solid var(--neutral-purple-200);
    font: inherit;
    color: var(--neutral-grey-500);
}

.container {
    background-color: var(--neutral-white);
    padding: 1em;
    margin-inline: auto;
    display: flex;
    max-width: 1024px;
    width: 100%;
    border-radius: 10px;
}

.sidebar {
    background-image: url('/images/bg-sidebar-desktop.svg');
    background-size: cover;
    background-position: bottom;
    padding: 2em;
    padding-right: 10em;
    height: 35rem;
    border-radius: 10px;
    color: var(--neutral-white);
    flex-shrink: 0;
}

.sidebar p {
    color: var(--neutral-purple-200);
}

.step {
    display: flex;
    gap: 1em;
    align-items: center;
    margin-bottom: 1.5em;
}

.active span {
    background-color: var(--neutral-white);
    color: black;
}

.step span {
    border: 1px solid var(--neutral-white);
    text-align: center;
    width: 2em;
    height: 2em;
    padding: .4em;
    border-radius: 100%;
}

.step p {
    text-transform: uppercase;
    font-weight: lighter;
    font-size: smaller;
}

.step h4 {
    text-transform: uppercase;
}

.main-content {
    flex-shrink: 0;
    flex-grow: 1;
    padding-inline: 5em;
    padding-top: 3em;
    position: relative;
}

.main-content h1.title {
    color: var(--primary-blue-950);
    margin-bottom: .3em;
}

.main-content p.description {
    color: var(--neutral-grey-500);
    margin-bottom: 2em;
}

.main-content label {
    color: var(--primary-blue-950);
    margin-bottom: .5em;
    display: block;
}

.cta-btn {
    font: inherit;
    background-color: var(--primary-blue-950);
    padding: .8em;
    padding-inline: 1.3em;
    border-radius: 10px;
    outline: none;
    border: none;
    color: var(--neutral-white);
    cursor: pointer;
}

.step-1 .action-buttons {
    justify-content: flex-end;
}

.plans-list {
    display: flex;
    gap: 1em;
}

.plan-item {
    border: 1px solid var(--neutral-purple-200);
    border-radius: 10px;
    padding: 1em;
    width: 10rem;
}

.plan-item.active {
    background-color: var(--neutral-blue-100);
    border: 1px solid var(--primary-blue-950);
}

.plan-item h4 {
    color: var(--primary-blue-950);
    margin-bottom: .3em;
}

.plan-item p {
    color: var(--neutral-grey-500);
}

.plan-item span {
    display: block;
    margin-top: .3em;
    color: var(--primary-blue-950);
}

.plan-item .icon-img {
    margin-bottom: 3em;
}

.toggle {
    display: flex;
    gap: 1em;
    align-items: center;
    margin-top: 3em;
    padding: 1em;
    background-color: var(--neutral-blue-100);
    border-radius: 10px;
    justify-content: center;
}

.toggle.active .switch::after {
    margin-left: auto;
}

.toggle p, .toggle.active p.monthly {
    color: var(--neutral-grey-500);
    cursor: pointer;
}

.toggle p.monthly, .toggle.active p.yearly {
    color: var(--primary-blue-950);
    cursor: pointer;
}

.toggle .switch {
    background-color: var(--primary-blue-950);
    border-radius: 10em;
    width: 3em;
    padding: .3em;
}

.toggle .switch::after {
    content: '';
    display: block;
    background-color: var(--neutral-white);
    width: 1em;
    height: 1em;
    border-radius: 100%;
}

.action-buttons {
    position: absolute;
    bottom: 1em;
    right: 5em;
    width: calc(100% - 10em);
    display: flex;
    justify-content: space-between;
}

.previous-btn {
    background: none;
    border: none;
    color: var(--neutral-grey-500);
    font: inherit;
    cursor: pointer;
}

.addon-item {
    border: 1px solid var(--neutral-purple-200);
    border-radius: 10px;
    display: flex;
    padding: 1.5em;
    align-items: center;
    margin-bottom: 1em;
}

.addon-info {
    margin-right: auto;
    margin-left: 1.5em;
}

.addon-info h4 {
    color: var(--primary-blue-950);
    margin-bottom: .2em;
}

.addon-info p {
    color: var(--neutral-grey-500);
}

.addon-price {
    color: var(--primary-purple-600);
}